maintainer: g3-dev@griffingroupglobal.com
node_version: 0.1.0-latest
base_version: __BASEVER__
node_os: stretch
node_env: development
branch: __BRANCH__
commit_sha: __SHA__
buildnum: __BUILDNUM__
release_tag: __TAG__
deploy_tag: __DEPLOY_TYPE__

