{% if branch == 'HEAD' -%}
 {{ release_tag }}-{{ node_version }}-{{ commit_sha }}-{{ buildnum }},{{ release_tag }}
{% elif branch == 'master' -%}
  latest,dev-sha-{{ commit_sha }}-{{ buildnum }},{{ deploy_tag }}{{ release_tag }}-{{ buildnum }}
{% elif 'v' in branch -%}
  dev-sha-{{ commit_sha }}-{{ buildnum }},{{ release_tag }}-{{ buildnum }},{{ release_tag }}-latest
{% else -%}
  {{ branch }}-latest,{{ branch }}-{{ release_tag }}-{{ buildnum }},{{ branch }}-sha-{{ commit_sha }}
{% endif -%}
